.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Header CSS Start*/
img.mx-img {
  width: 100%;
  height: 100px;
  cursor: none;
}
.me-auto.navbar-nav a {
  font-size: 25px;
  color: #e5cba9;
  font-family: fantasy;
  cursor: cell;
}
nav.__nav_bar_main.navbar.navbar-expand.navbar-light {
  background-color: #b2d0ea;
}
.__footer_container {
  display: flex;
}
footer.__footer {
  background-color: #b2d0ea;
}
.page {
  height: 500px;
  background-color: antiquewhite;
}
.common {
  border: 1px solid rebeccapurple;

}
.text {
  font-size: 100px;
  color: aqua;
  background-color: aliceblue;
    border: 1px solid chartreuse;

}

ul.footer-menus.d-flex a {
  font-size: 25px;
  color: #e5cba9;
  font-family: fantasy;
  cursor: cell;
}
